include video-mixins
include svg-mixins

- var ali = { season: 1, isNew: false, url: "/us/en/dm-presents-ali-roberto", relativePath: "Alia/aliTeaser", videoStart:"0.575", title: "1. Ali Roberto", description: "Director Alison Roberto takes a dive into the grit and passion of the LA music scene with her films, the product of a lifelong vision." }
- var gabe = { season: 1, isNew: false, url: "/us/en/dm-presents-gabriel-gomez", relativePath: "Gabe/gabrielTeaser", videoStart:"4.05", title: "2. Gabriel Gomez", description: "NY Filmmaker Gabriel Gomez uses these unprecedented times to hone in on what matters to him and the musicians in his community." }
- var lrw = { season: 1, isNew: false, url: "/us/en/dm-presents-lauren-ruth-ward", relativePath: "LRW/lrwTeaser", videoStart:"13.0", title: "3. Lauren Ruth Ward", description: "Lauren Ruth Ward is a musician, stylist, photographer, and more than the sum of her parts, seeking ways to connect without in-person shows." }
- var rosehardt = { season: 1, isNew: false, url: "/us/en/dm-presents-rosehardt", relativePath: "Rosehardt/rosehardtTeaser", videoStart:"4.05", title: "4. Rosehardt", description: "Caleb Eberhardt has always used his music to connect with others. Now, he's working to use his platform and leave a legacy of social change." }
- var tolliver = { season: 1, isNew: false, url: "/us/en/dm-presents-tolliver", relativePath: "Tolliver/tolliverTeaser", videoStart:"2.2", title: "5. Tolliver", description: "Los Angeles artist Tolliver uses his music to reconcile who he is today with his Baptist upbringing and childhood." }
- var clay = { season: 1, isNew: false, url: "/us/en/dm-presents-cautious-clay", relativePath: "Clay/clayTeaser", videoStart:"0.0", title: "6. Cautious Clay", description: "Music is the most natural form of expression for musician/producer Cautious Clay, who is using his art to navigate the turbulence of 2020." }
- var blimesNGab = { season: 1, isNew: false, url: "/us/en/dm-presents-blimes-n-gab", relativePath: "BlimesNGab/blimesNGabTeaser", videoStart:"15.0", title: "7. Blimes & Gab", description: "Blimes & Gab blended their unique styles to create <em>Talk About It</em>. Now, they're braving the highs and lows of releasing an album mid-pandemic." }
- var sunflower = { season: 1, isNew: false, url: "/us/en/dm-presents-sunflower-bean", relativePath: "SunflowerBean/sunflowerTeaser", videoStart:"15.0", title: "8. Sunflower Bean", description: "Lifelong musicians and members of Sunflower Bean are leaning on each other, their music, and the politics of their art to continue creating." } 
- var nez = { season: 1, isNew: false, url: "/us/en/dm-presents-nez", relativePath: "Nez/nezTeaser", videoStart:"0.0", title: "9. NEZ", description: "NEZ, Los Angeles-based music artist and producer, focuses on cultivating a creative space where he can express himself in the truest form possible." } 
- var orion = { season: 1, isNew: false, url: "/us/en/dm-presents-orion-sun", relativePath: "Orion/orionTeaser", videoStart:"0.0", title: "10. Orion Sun", description: "Despite the dark early days of lockdown, singer, producer, and songwriter Orion Sun is finding the light by learning to live on her own terms." } 
- var regrettes = { season: 1, isNew: false, url: "/us/en/dm-presents-the-regrettes", relativePath: "TheRegrettes/regrettesTeaser", videoStart:"0.0", title: "11. The Regrettes", description: "The Regrettes are looking within for inspiration and learning to let go as their non-stop touring lifestyle slows in the midst of lockdown." }
- var stuyedeyed = { season: 1, isNew: false, url: "/us/en/dm-presents-stuyedeyed", relativePath: "Stuyedeyed/stuyedeyedTeaser", videoStart:"0.0", title: "12. Stuyedeyed", description: "NYC band Stuyedeyed is focusing on what they can control: creating music they believe in, and through that, inciting change." }
- var duendita = { season: 1, isNew: false, url: "/us/en/dm-presents-duendita", relativePath: "Duendita/ss21-dmpresents-duendita-duenditaTeaser", videoStart:"7.9", title: "13. duendita", description: "Brooklyn-based artist duendita uses her time in lockdown to find well-deserved rest and focuses on expressing her deepest self through her music." }
- var frankie = { season: 1, isNew: false, url: "/us/en/dm-presents-frankie-witch-fingers", relativePath: "FATWF/frankieTeaser", videoStart:"0.0", title: "14. Frankie and the Witch Fingers", description: "Powered by the explosive energy they usually channel onstage, Los Angeles band Frankie and the Witch Fingers uses art to engage their community." }

- var season1 = { number: 1, episodes: [ali, gabe, lrw, rosehardt, tolliver, clay, blimesNGab, sunflower, nez, orion, regrettes, stuyedeyed, duendita, frankie]}

- var s2trailer = { season: 2, url: "/us/en/dm-presents-s2-trailer", relativePath: "S2Trailer/S2Teaser", videoStart:"0.0", title: "Season 2 Trailer", description: "This year, Dr. Martens Presents explores the evolution of local music communities with six different filmmakers in New York and Los Angeles. Artists, musicians, and die-hard fans show us the scenes they've created; where decades of young talent continue to experiment, inspire, and sharpen their sound." }
- var afroHouseNYC = { season: 2, isNew: false, url: "/us/en/dm-presents-afro-house-nyc", relativePath: "S2E1/teaser", videoStart:"11.0", title: "Afro House - NYC", description: "Filmmaker Chelsea Odufu explores NYC's Afro House scene, where artists promote progressive African sounds and reclaim space for people of color in electronic music." }
- var queerIndieLA= { season: 2, isNew: false, url: "/us/en/dm-presents-queer-indie-la", relativePath: "S2E2/teaser", videoStart:"17.0", title: "Queer Indie - LA", description: "Multi-talented filmmaker Wes O'Connor asks queer musicians in Los Angeles where they feel most at home to let their creativity and queerness run free." }
- var womenInPunkLA = { season: 2, isNew: false, url: "/us/en/dm-presents-women-in-punk-la", relativePath: "S2E3/teaser", videoStart:"0.0", title: "Women In Punk - LA", description: "Director Ali Roberto takes punk's pulse. Hear from punk legends and fresh faces of the genre. As the women discuss their experiences, one thing remains certain: punk is forever." }
- var diyNYC = { season: 2, isNew: false, url: "/us/en/dm-presents-diy-nyc", relativePath: "S2E4/teaser", videoStart:"0.0", title: "DIY - NYC", description: "NYC's DIY Punk Scene is entering a new era. Creator Jeanette D. Moses explores the genre's roots and looks to its progressively diverse future."}
- var latinxIndieLA = { season: 2, isNew: false, url: "/us/en/dm-presents-latinx-indie-la", relativePath: "S2E5/teaser", videoStart:"0.0", title: "Latinx Indie - LA", description: "Film director Ambar Navarro illuminates the intentional path Latinx Indie artists across Los Angeles carved for themselves.", backend: "s3v3" }
- var alternativeUndergroundNYC = { season: 2, isNew: true, url: "/us/en/dm-presents-alternative-underground-nyc", relativePath: "S2E6/teaser", videoStart:"0.0", title: "Alternative Underground - NYC", description: "Explore the genre that can't be defined. Director Fredgy No&euml;l asks New York City's Alternative Underground scene about finding yourself within a community that values individuality.", backend: "s3v3" }

- var season2 = { number: 2, episodes: [s2trailer, afroHouseNYC, queerIndieLA, womenInPunkLA, diyNYC, latinxIndieLA, alternativeUndergroundNYC]}

- var seasons = [season1, season2]

mixin episodeItem(episode)
	.fm-episode(data-href!=`${episode.url}`)
		.fm-episode-main
			.fm-video-thumbnail
				if episode.season == 1
					+thumbnailVideo(episode.relativePath, episode.videoStart)
				else if episode.backend
					+thumbnailVideo(episode.relativePath, episode.videoStart, episode.backend)
				else
					+thumbnailVideo(episode.relativePath, episode.videoStart, "s3v2")
				.fm-video-thumbnail-play-icon
					svg(width="14" height="14")
						polygon(points="0,0,14,7,0,14" style="fill:#000;")
			.fm-episode-title
				h3= episode.title
				if episode.isNew
					span.fm-video-thumbnail-new-tag new
		p!= episode.description 

mixin episodeSelector(seasons)
	.fm-episodes-selector
		each season, i in seasons
			case i
				when 0
					h2(data-season=`${season.number}`) Season #{season.number}
				default
					h2.active(data-season=`${season.number}`) Season #{season.number}

.fm-episodes
	+episodeSelector(seasons)
	.fm-episodes-collection
		a.fm-episodes-p(href="#")
			+svgLeftArrow()
		a.fm-episodes-n(href="#")
			+svgRightArrow()
		each season in seasons
			.fm-episodes-hug(data-season=`${season.number}`)
				each episode in season.episodes
					+episodeItem(episode) 
